@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=The+Nautigal&display=swap');

//font family
:root{
    --bs-body-font-family : "Poppins", sans-serif;
    --color-black: #252525;
    --color-gold: #ffde96;
    --color-white: #fff;
}

html, body{
    overflow-x: hidden;
    max-width: 100vw;
}

html{
    scroll-behavior: smooth;
}

.ff-nautigal{
    font-family : "The Nautigal", sans-serif;
}

//color pallete
.fc-black{
    color: var(--color-black);
}
.fc-gold{
    color: var(--color-gold)
}
.fc-white{
    color: var(--color-white);
}

//background
.bg-black{
    background: var(--color-black);
}
.bg-gold{
    background: var(--color-gold)
}
.bg-white{
    background: var(--color-white);
}
.bg-transparent{
    background: transparent;
}

//header z-index position
header, nav{
    z-index: 1000;
}

//modal open padding reset
nav, .modal-open, .modal{
    padding-right: 0px!important;
}

//navbar toggler header
.navbar-toggler {
    border: none;
    
    &:focus{
        box-shadow: none;
    }
}

.collapsed#navbar-toggler{
    .close{
        display: none;
        transition: display .4s;
    }
}

.navbar-light #navbar-toggler{
    .open{
        display: none;
        transition: display .4s;
    }
    .close{
        display: block;
    }
}

//ketika click selain nav otomatis navbar collapse
#click-collapse{
    &::before{
        content: '';
        top: 0;
        left: 0;
        position: fixed;
        width: 100vw;
        min-height: 1vh;
        height: 100%;
        z-index: 100;
    }
}

//carousel image 
#header-carousel .carousel-item img{
    filter: brightness(50%);
}

//carousel caption reset
#header-carousel .carousel-caption {
    position: absolute;
    right: unset;
    bottom: unset;
    left: unset;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

//image size
.img-container{
    overflow: hidden;
    max-height: 400px;
}

//parallax
.parallax{
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

//services-img
.services .container .row{
    overflow: hidden;

    .service-btn{
        opacity: 0;
        transform: scale(0);
        z-index: 20;
    }
    
    img{
        filter: brightness(100%);
        transition: all .5s;
    }

    .service-img{
        position: relative;
        
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            width: 100%;
            height: 100%;
            background: -webkit-linear-gradient(rgba(0,0,0,0.5) , rgba(0, 0, 0, 0));
            background: -o-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0)); 
            background: -moz-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
            background: linear-gradient(rgba(0,0,0,0.5) , rgba(0,0,0,0));
        }

        &:hover{
            img{
                filter: brightness(50%);
            }

            .service-btn{
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}

//user-review
#user-review{     
    .carousel-caption{
        min-height: 500px;
        height: 100%;
        position: unset;
        right: unset;
        bottom: unset;
        left: unset;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
    }

    .title{
        z-index: 1;
    }

    .carousel-control-next, .carousel-control-prev {

        &::before{
            content: "";
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            background: var(--color-black);
            border-radius: 50%;
            z-index: -5;
            width: 50px;
            height: 50px;
        }
    }
}

//user img size
#user-review .user-img{
    width: 80px;
    height: 80px;
    overflow: hidden;
}

//form focus
.form-control:focus, .form-select:focus{
    color: #212529;
    background-color: #fff;
    border-color: var(--color-gold);
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--color-gold);
}

@media only screen and(max-width: 992px) {
    #user-review{
        .carousel-caption{
            min-height: 600px;
            height: 100%;
        }
    }
}